button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: yellow;
  }
  .off {
    color: #ccc;
  }
  #divCenter{
    display: flex;
    justify-content: center;
  }